@{
    ViewBag.Title = "Admin/Roles";
    var F = @Html.F();
}

@section body {
    @(F.Panel()
         .ID("Panel1")
         .ShowBorder(false)
         .ShowHeader(false)
         .Margin(5)
         .BodyPadding(5)
         .Layout(LayoutType.VBox)
         .BoxConfigAlign(BoxLayoutAlign.Stretch)
         .IsViewPort(true)
         .Items(
                  F.Form()
                       .ID("Form3")
                       .BodyPadding("5px")
                       .ShowHeader(false)
                       .ShowBorder(false)
                       .LabelAlign(LabelAlign.Left)
                       .Rows(
                          F.FormRow()
                               .ID("FormRow2")
                               .Items(
                                 F.DropDownList()
                                         .ID("ddlType")
                                         .Label("用户类型")
                                         .Required(true)
                                         .ShowRedStar(true)
                                         .ShowLabel(false)
                                         .EnableMultiSelect(false)
                                         .Items(
                                             F.ListItem()
                                                 .Text("普通角色")
                                                 .Value("0"),
                                             F.ListItem()
                                                 .Text("客户角色")
                                                 .Value("1")
                                              )
                                         .Listener("change", "onddlTypeChange")
                                         .Readonly(ViewBag.ReadOnly)
                                         .SelectedValue(ViewBag.SelectValue),
                                  F.TwinTriggerBox()
                                         .ID("ttbSearchMessage")
                                         .ShowLabel(false)
                                         .EmptyText("在角色名称中搜索")
                                         .Trigger1Icon(TriggerIcon.Clear)
                                         .Trigger2Icon(TriggerIcon.Search)
                                         .ShowTrigger1(false)
                                         .Listener("trigger1click", "onTrigger1Click")
                                         .Listener("trigger2click", "onTrigger2Click"),
                                  F.TriggerBox()
                                         .ID("ttbSearchCustomer")
                                         .EnableEdit(false)
                                         .LabelWidth(80)
                                         .TriggerIcon(TriggerIcon.Search)
                                         .OnClientTriggerClick("OnClientCustomerSelect();")
                                         .Hidden(ViewBag.Hidden)
                                         .Label("客户名称"),
                                  ////F.TwinTriggerBox()
                                  ////      .ID("ttbSearchCustomer")
                                  ////      .ShowLabel(false)
                                  ////      .Hidden(ViewBag.Hidden)
                                  ////      .EmptyText("在所属客户中搜索")
                                  ////      .Trigger1Icon(TriggerIcon.Clear)
                                  ////      .Trigger2Icon(TriggerIcon.Search)
                                  ////      .ShowTrigger1(false)
                                  ////      .Listener("trigger1click", "onTrigger1Click")
                                  ////      .Listener("trigger2click", "onTrigger3Click"),
                                   F.Label()
                               )
                       ),
                  F.Grid()
                       .EnableCollapse(true)
                       .Title("表格")
                       .ShowHeader(false)
                       .ShowBorder(true)
                       .ID("Grid1")
                       .DataIDField("ID")
                       .EnableTextSelection(true)
                       .EnableCheckBoxSelect(true)
                       .AllowPaging(true)
                       .IsDatabasePaging(true)
                       .AutoScroll(true)
                       .BoxFlex(1)
                       .OnPageIndexChanged(Url.Action("Grid1_PageIndexChanged"), "Grid1",
                                        new Parameter("gridPageSize", "F.ui.ddlGridPageSize.getValue()")
                                      , new Parameter("searchMessage", "F.ui.ttbSearchMessage.getValue()")
                                      , new Parameter("searchCustomer", "F.ui.ttbSearchCustomer.getValue()"))
                       .PageSize(20)
                       .Toolbars(
                           F.Toolbar()
                                  .ID("Toolbar1")
                                  .Items(
                                      F.Button()
                                       .ID("btnDeleteSelected")
                                       .Icon(Icon.Delete)
                                       .Text("删除子项")
                                       .Enabled(ViewBag.CoreRoleDelete)
                                       .Listener("click", "onDeleteSelectedClick"),
                                      F.ToolbarFill()
                                       .ID("ToolbarFill1"),
                                      F.Button()
                                       .ID("btnNew")
                                       .Icon(Icon.Add)
                                       .Listener("click", "onCreateClick")
                                       .Text("新增角色")
                                       .Enabled(ViewBag.CoreRoleNew)
                                  )
                       )
                       .PageItems(
                           F.ToolbarSeparator()
                              .ID("ToolbarSeparator1"),
                           F.ToolbarText()
                              .ID("ToolbarText1")
                              .Text("每页记录数："),
                           F.DropDownList()
                              .ID("ddlGridPageSize")
                              .Width(80)
                              .Listener("change", "onDropDownList1Change")
                              .SelectedValue("20")
                              .Items(
                                 F.ListItem()
                                   .Text("10")
                                   .Value("10"),
                                 F.ListItem()
                                   .Text("20")
                                   .Value("20"),
                                 F.ListItem()
                                   .Text("50")
                                   .Value("50"),
                                 F.ListItem()
                                   .Text("100")
                                   .Value("100")
                              )
                       )
                       .Columns(
                               F.RowNumberField(),
                               F.RenderField()
                                    .HeaderText("角色名称")
                                    .DataField("Name")
                                    .Width(300),
                               F.RenderField()
                                    .HeaderText("角色类型")
                                    .DataField("TypeName")
                                    .Width(400),
                               F.RenderField()
                                    .HeaderText("所属客户")
                                    .DataField("FCustomerName")
                                    .Hidden(ViewBag.Hidden)
                                    .Width(400),
                               F.RenderField()
                                    .HeaderText("备注")
                                    .DataField("Remark")
                                    .Width(400),
                               F.RenderField()
                                    .HeaderText("")
                                    .Width(60)
                                    .RendererFunction("renderEditField")
                                    .TextAlign(TextAlign.Center)
                                    .EnableHeaderMenu(false),
                               F.RenderField()
                                    .HeaderText("")
                                    .Width(60)
                                    .RendererFunction("renderDeleteField")
                                    .TextAlign(TextAlign.Center)
                                    .EnableHeaderMenu(false)
                               )
                               .RecordCount(ViewBag.Grid1RecordCount)
                               .DataSource(ViewBag.Grid1DataSource)
         )
    )



    @(F.Window()
        .ID("Window1")
        .Width(600)
        .Height(500)
        .IsModal(true)
        .Hidden(true)
        .Target(Target.Top)
        .EnableResize(true)
        .EnableMaximize(true)
        .EnableIFrame(true)
        .IFrameUrl(Url.Content("about:blank"))
        .Listener("close", "onWindow1Close")
    )

}

@section script {

    <script src="~/res/js/grid.js"></script>

    <script>
        var CoreRoleDelete = @Convert.ToString(ViewBag.CoreRoleDelete).ToLower();
        var CoreRoleEdit = @Convert.ToString(ViewBag.CoreRoleEdit).ToLower();

        function doCustomPostBack(type, params) {
            var grid1 = F.ui.Grid1;
            var ddlGridPageSize = F.ui.ddlGridPageSize;
            // 触发后台事件
            F.doPostBack('@Url.Action("MyCustomPostBack")', {
                type: type,
                gridFields: grid1.fields,
                typeParams: params,
                gridIndex: grid1.getPageIndex(),
                gridPageSize: ddlGridPageSize.getValue()
            });
        }


        function onTrigger1Click(event) {
            doCustomPostBack('trigger1');
        }

        function onTrigger2Click(event) {
            var triggerValue = this.getValue();
            if (!triggerValue) {
                F.alert('请输入搜索关键词！');
                return;
            }

            doCustomPostBack('trigger2', {
                triggerValue: triggerValue
            });
        }

        //function onTrigger3Click(event) {
        //    var triggerValue = this.getValue();
        //    if (!triggerValue) {
        //        F.alert('请输入搜索关键词！');
        //        return;
        //    }

        //    doCustomPostBack('trigger3', {
        //        triggerValue: triggerValue
        //    });
        //}

        function onDropDownList1Change(event) {
            doCustomPostBack('dropdownlist', {
                ddlValue: this.getValue()
            });
        }

        function onddlTypeChange(event) {
            doCustomPostBack('ddlType', {
                ddlType: this.getValue()
            });
        }

        function onWindow1Close(event) {
            doCustomPostBack('windowclose');
        }

        function renderDeleteField(value, params) {
            var disabledCls = CoreRoleDelete ? '' : ' ui-state-disabled';
            return '<a href="javascript:;" class="action-btn delete' + disabledCls + '" ><img class="f-grid-cell-icon" src="@Url.Content("~/res/icon/delete.png")"></a>';
        }

        function renderEditField(value, params) {
            var disabledCls = CoreRoleEdit ? '' : ' ui-state-disabled';
            return '<a href="javascript:;" class="action-btn edit' + disabledCls + '"><img class="f-grid-cell-icon" src="@Url.Content("~/res/icon/pencil.png")"></a>';
        }

        function onCreateClick(event) {
            F.ui.Window1.show('@Url.Content("~/Admin/Role_new")', '新增角色');
        }

        function deleteSelectedRows(selectedRows) {
            var grid1 = F.ui.Grid1
            var ddlGridPageSize = F.ui.ddlGridPageSize;
            // 触发后台事件
            F.doPostBack('@Url.Action("Grid1_Delete")', {
                'selectedRows': selectedRows,
                'Grid1_fields': grid1.fields,
                'gridIndex': grid1.getPageIndex(),
                'gridPageSize': ddlGridPageSize.getValue()
            });
        }

        function onDeleteSelectedClick(event) {
            var grid1 = F.ui.Grid1;

            if (!grid1.hasSelection()) {
                F.alert('请至少选择一项！');
                return;
            }

            var selectedRows = grid1.getSelectedRows();
            F.confirm({
                message: '你确定要删除选中的&nbsp;<b>' + selectedRows.length + '</b>&nbsp;行数据吗？',
                target: '_top',
                ok: function () {
                    deleteSelectedRows(selectedRows);
                }
            });
        }

        function OnClientCustomerSelect(event) {
            var url = '@Url.Content("~/OpenWindow/CustomerWindow")';
            var openUrl = F.formatString("{0}?customerId={1}", url, F.urlEncode(F.ui.ttbSearchCustomer.getValue()));

            F.ui.Window1.show(openUrl, '客户选择');
        }

        function updateCustomer(id, text,tepmid) {
            F.ui.ttbSearchCustomer.setValue(text);
            doCustomPostBack('trigger3', {
                triggerValue: text
            });
        }

        F.ready(function () {

            var grid1 = F.ui.Grid1;
            grid1.el.on('click', 'a.action-btn', function (event) {
                var cnode = $(this);
                var rowData = grid1.getRowData(cnode.closest('.f-grid-row'));

                // 是否禁用
                if (cnode.hasClass('ui-state-disabled')) {
                    return;
                }
                if (cnode.hasClass('delete')) {
                    F.confirm({
                        message: '确定删除此记录？',
                        target: '_top',
                        ok: function () {
                            deleteSelectedRows([rowData.id]);
                        }
                    });
                }
                else if (cnode.hasClass('edit')) {
                    F.ui.Window1.show('@Url.Content("~/Admin/Role_edit/")?roleId=' + rowData.id, '编辑角色');
                }
            });
        });
    </script>
}