@{
    ViewBag.Title = "加压站机组";
    var F = @Html.F();
}

@section head {

    <style>

        .f-grid-colheader-PumpJZAreaName .f-grid-colheader-text {
            white-space: normal;
            word-break: break-all;
        }
    </style>

}

@section body {
    @(F.Panel()
         .ID("Panel1")
         .ShowBorder(false)
         .ShowHeader(false)
         .BodyPadding(5)
         .Layout(LayoutType.VBox)
         .BoxConfigAlign(BoxLayoutAlign.Stretch)
         .IsViewPort(true)
         .Toolbars(
             F.Toolbar()
                    .ID("Toolbar1")
                    .Items(
                        F.Button()
                         .ID("btnDeleteSelected")
                         .Icon(Icon.Delete)
                         .Text("删除子项")
                         .Enabled(ViewBag.CoreJYZJZDelete)
                         .Listener("click", "onDeleteSelectedClick"),
                        F.ToolbarFill()
                         .ID("ToolbarFill1"),
                        F.Button()
                         .ID("btnNew")
                         .Icon(Icon.Add)
                         .Listener("click", "onCreateClick")
                         .Text("新增机组")
                         .Enabled(ViewBag.CoreJYZJZNew)
                    )
         )
         .Items(
                  F.Form()
                       .ID("Form3")
                       .ShowHeader(false)
                       .ShowBorder(false)
                       .LabelAlign(LabelAlign.Left)
                       .Rows(
                          F.FormRow()
                               .ID("FormRow2")
                               .Items(
                                  F.TwinTriggerBox()
                                         .ID("ttbSearchMessage")
                                         .ShowLabel(false)
                                         .EmptyText("在加压站机组名称中搜索")
                                         .Trigger1Icon(TriggerIcon.Clear)
                                         .Trigger2Icon(TriggerIcon.Search)
                                         .ShowTrigger1(false)
                                         .Listener("trigger1click", "onTrigger1Click")
                                         .Listener("trigger2click", "onTrigger2Click"),
                                  F.HiddenField()
                                         .ID("jyzId")
                                         .Text(ViewBag.jyzId),
                                   F.Label()
                               )
                       ),
                  F.Grid()
                       .EnableCollapse(true)
                       .Title("表格")
                       .ShowHeader(false)
                       .ShowBorder(true)
                       .ID("GridJZ")
                       .DataIDField("ID")
                       .EnableTextSelection(true)
                       .EnableCheckBoxSelect(true)
                       .AllowPaging(true)
                       .IsDatabasePaging(true)
                       .AutoScroll(true)
                       .BoxFlex(1)
                       .OnPageIndexChanged(Url.Action("GridJZ_PageIndexChanged"), "GridJZ",
                                        new Parameter("gridPageSize", "F.ui.ddlGridPageSize.getValue()"),
                                        new Parameter("jyzId", "F.ui.jyzId.getValue()"),
                                        new Parameter("searchMessage", "F.ui.ttbSearchMessage.getValue()"))
                       .PageSize(20)
                       .PageItems(
                           F.ToolbarSeparator()
                              .ID("ToolbarSeparator1"),
                           F.ToolbarText()
                              .ID("ToolbarText1")
                              .Text("每页记录数："),
                           F.DropDownList()
                              .ID("ddlGridPageSize")
                              .Width(80)
                              .Listener("change", "onDropDownListJZChange")
                              .SelectedValue("20")
                              .Items(
                                 F.ListItem()
                                   .Text("10")
                                   .Value("10"),
                                 F.ListItem()
                                   .Text("20")
                                   .Value("20"),
                                 F.ListItem()
                                   .Text("50")
                                   .Value("50"),
                                 F.ListItem()
                                   .Text("100")
                                   .Value("100")
                              )
                       )
                       .Columns(
                               F.RowNumberField(),
                               F.RenderField()
                                    .HeaderText("机组编号")
                                    .DataField("DTUCode")
                                    .Width(100),
                               F.RenderField()
                                    .HeaderText("机组名称")
                                    .DataField("jyzJZName")
                                    .Width(200),
                               F.RenderField()
                                    .HeaderText("加压站名称")
                                    .DataField("jyzName")
                                    .Width(200),
                               F.RenderField()
                                    .HeaderText("地址表")
                                    .DataField("AddressName")
                                    .Width(200),
                               F.RenderField()
                                    .HeaderText("客户id")
                                    .DataField("FCustomerID")
                                    .Hidden(true)
                                    .Width(200),
                               F.RenderField()
                                    .HeaderText("")
                                    .Width(40)
                                    .RendererFunction("renderEditField")
                                    .TextAlign(TextAlign.Center)
                                    .EnableHeaderMenu(false),
                               F.RenderField()
                                    .HeaderText("")
                                    .Width(40)
                                    .RendererFunction("renderDeleteField")
                                    .TextAlign(TextAlign.Center)
                                    .EnableHeaderMenu(false)
                               )
                               .RecordCount(ViewBag.GridJZRecordCount)
                               .DataSource(ViewBag.GridJZDataSource)
         )
    )



    @(F.Window()
        .ID("Window1")
        .Width(800)
        .Height(700)
        .IsModal(true)
        .Hidden(true)
        .Target(Target.Top)
        .EnableResize(true)
        .EnableMaximize(true)
        .EnableIFrame(true)
        .IFrameUrl(Url.Content("about:blank"))
        .Listener("close", "onWindow1Close")
    )

}

@section script {

    <script src="~/res/js/grid.js"></script>

    <script>
        var CoreJYZJZDelete = @Convert.ToString(ViewBag.CoreJYZJZDelete).ToLower();
        var CoreJYZJZEdit = @Convert.ToString(ViewBag.CoreJYZJZEdit).ToLower();

        function doCustomPostBack(type, params) {
            var GridJZ = F.ui.GridJZ;
            var ddlGridPageSize = F.ui.ddlGridPageSize;
            // 触发后台事件
            F.doPostBack('@Url.Action("MyCustomJZPostBack")', {
                type: type,
                gridFields: GridJZ.fields,
                typeParams: params,
                gridIndex: GridJZ.getPageIndex(),
                gridPageSize: ddlGridPageSize.getValue(),
                jyzId: F.ui.jyzId.getValue()
            });
        }


        function onTrigger1Click(event) {
            doCustomPostBack('trigger1');
        }

        function onTrigger2Click(event) {
            var triggerValue = this.getValue();
            if (!triggerValue) {
                F.alert('请输入搜索关键词！');
                return;
            }

            doCustomPostBack('trigger2', {
                triggerValue: triggerValue
            });
        }

        function onDropDownListJZChange(event) {
            doCustomPostBack('dropdownlist', {
                ddlValue: this.getValue()
            });
        }

        function onWindow1Close(event) {
            doCustomPostBack('windowclose');
        }

        function renderDeleteField(value, params) {
            var disabledCls = CoreJYZJZDelete ? '' : ' ui-state-disabled';
            return '<a href="javascript:;" class="action-btn delete' + disabledCls + '" ><img class="f-grid-cell-icon" src="@Url.Content("~/res/icon/delete.png")"></a>';
        }

        function renderEditField(value, params) {
            var disabledCls = CoreJYZJZEdit ? '' : ' ui-state-disabled';
            return '<a href="javascript:;" class="action-btn edit' + disabledCls + '"><img class="f-grid-cell-icon" src="@Url.Content("~/res/icon/pencil.png")"></a>';
        }

        function onCreateClick(event) {
            F.ui.Window1.show('@Url.Content("~/BasicInfo/CompressorStation/JYZ_JZ_new")?jyzId=' + F.ui.jyzId.getValue(), '新增机组');
        }

        function deleteSelectedRows(selectedRows) {
            var GridJZ = F.ui.GridJZ
            var ddlGridPageSize = F.ui.ddlGridPageSize;
            // 触发后台事件
            F.doPostBack('@Url.Action("GridJZ_Delete")', {
                selectedRows: selectedRows,
                GridJZ_fields: GridJZ.fields,
                gridIndex: GridJZ.getPageIndex(),
                gridPageSize: ddlGridPageSize.getValue(),
                jyzId: F.ui.jyzId.getValue()
            });
        }

        function onDeleteSelectedClick(event) {
            var GridJZ = F.ui.GridJZ;

            if (!GridJZ.hasSelection()) {
                F.alert('请至少选择一项！');
                return;
            }

            var selectedRows = GridJZ.getSelectedRows();
            F.confirm({
                message: '你确定要删除选中的&nbsp;<b>' + selectedRows.length + '</b>&nbsp;行数据吗？',
                target: '_top',
                ok: function () {
                    deleteSelectedRows(selectedRows);
                }
            });
        }

        F.ready(function () {

            var GridJZ = F.ui.GridJZ;
            GridJZ.el.on('click', 'a.action-btn', function (event) {
                var cnode = $(this);
                var rowData = GridJZ.getRowData(cnode.closest('.f-grid-row'));

                // 是否禁用
                if (cnode.hasClass('ui-state-disabled')) {
                    return;
                }
                if (cnode.hasClass('delete')) {
                    F.confirm({
                        message: '确定删除此记录？',
                        target: '_top',
                        ok: function () {
                            deleteSelectedRows([rowData.id]);
                        }
                    });
                }
                else if (cnode.hasClass('edit')) {
                    F.ui.Window1.show('@Url.Content("~/BasicInfo/CompressorStation/JYZ_JZ_edit")?jzId=' + rowData.id, '编辑机组');
                }
            });
        });
    </script>
}